.code-format{
    font-family: "Courier New";
    font-size: "12px";
    font-style:"normal";
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}

.text-format{
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
}


