<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/select2-bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/more.css"/>
</head>
<body>
    <ul class="nav nav-tabs tabs-up col-lg-6 col-lg-offset-3" id="funcionalities">
        <li><a href="/createAndSave/" data-target="#createAndSave" class="media_node active span" id="contactsTab" data-toggle="tabajax" rel="tooltip">Create and Save</a></li>
        <li><a href="/more/" data-target="#more" class="media_node span" id="moreTab" data-toggle="tabajax" rel="tooltip">More</a></li>
    </ul>

    <div class="tab-content col-lg-6 col-lg-offset-3">
        <div class="tab-pane active" id="createAndSave">

        </div>

        <div class="tab-pane  urlbox span8" id="more">

        </div>
    </div>
</body>
<script src="js/jquery-3.2.1.min.js"/>
<script src="js/select2.min.js"/>
<script src="js/bootstrap.min.js"/>
<script src="js/index.js"/>
</html>

